:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rbg(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}








/* Question Form */

.question_form{
  background-color: #f4f4f9;
  height: 100%;
  padding-bottom: 30px;
}

.section{
  margin: auto;
  width: 50%;
}

.question_form_top{
  background-color: white;
  /* border-top: 8px solid rgb(103,58,183); */
  border-radius: 8px;
  padding: 30px 25px;
  text-transform: capitalize;
}


.question_form_top_name{
box-sizing: border-box;
font-family: 'Google Sans',Roboto,Arial,sans-serif;
font-size: 32px;
font-weight: 400;
line-height: 135%;
width: 100%;
border: none;
outline: none;
border-bottom: 1px solid #f4f4f9 ;
color: black;
height: 35px;

}

.question_form_top_desc{
  box-sizing: border-box;
  margin-top:10px;
font-family: 'Google Sans',Roboto,Arial,sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 40px;
width: 100%;
border: none;
outline: none;
border-bottom: 1px solid #f4f4f9 ;
color: black;
height: 35px;
}



#paragraph_area{
  display: none;
}

#checkbox_area{
  display:none;
}

#radio_area{
  display:none;
}


.question_boxes{
  display:flex;
  flex-direction: row;
  justify-content:center;
}

.add_question{
  background-color:white;
  border-radius:8px;
  padding:25px 22px;
  text-transform:capitalize;
  display:flex;
  flex-direction:column;
  padding-top:0px;
  width:93%;
  margin-left:10px;
 

}

.add_question_top{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}

.question{
  box-sizing:border-box;
  margin-top:10px;
  font-family:'Google Sans',Roboto,Arial,sans-serif;
  font-size:15px;
  font-weight:400;
  flex:1;
  line-height:40px;
  width:40%;
  border:none;
  outline:none;
  color:black;
  height:40px;
  margin-right:10px;
  line-height:10px;
  padding:10px;
}

.question:focus{
  border-bottom:1px solid rgb(103, 58, 183);
  background-color:#F4F4F9;
}

.select{
  height:40px;
  width:230px;
  border:0.5px solid;
  padding:5px 15px;
  color:black;
  margin-left:10px;
  margin-right:10px;
  border:1.5px solid #F4F4F9;
  border-radius:3px;
  background:transparent;
}

.menuitem{
  color:rgba(118,118,118,0.3);
}

.add_question_body{
  display:flex;
  align-items:center;
}

.text_input{

  outline:none;
  border:none;
  height:40px;
  width:490px;
  font-family:Roboto,Arial,sans-serif;
  font-size:13px;
  font-weight:400;
  letter-spacing:2px;
  color:#202124;
}

.text_input:focus{
  border-bottom:1.5px solid rgb(103,58,183);
}

.add_footer{
  display:flex;
  justify-content:space-between;
}

.add_question_bottom{
  margin-top:12px;
  border-top:12px solid rgba(118,118,118,0.3);
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.add_question_bottom_left{
  margin-top:12px;
  border-top:1px solid rgba(118,118,118,0.3);
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.add_border{
  border-left:6px solid #4285f4;
}

.question_edit{
  background-color:#F4F4F9;
  display:flex;
  flex-direction:column;
  margin-right:12px;
  margin-top:10px;
  margin-bottom:0;
  padding:1px;
  border-radius:3px;
  height:180px;
  width:35px;
}

.edit{
  color:#5f6368;
  padding:8px 5px;
  font-size: 37px;
}